/* | Purpose              | Color         | Hex       |
| -------------------- | ------------- | --------- |
| Background           | Deep Charcoal | `#0F1115` |
| Secondary Background | Dark Gray     | `#1A1D24` |
| Primary Text         | Soft Ivory    | `#F5F1EA` |
| Secondary Text       | Light Gray    | `#B7BDC7` |
| Accent Gold          | Warm Gold     | `#D4B06A` |
| Accent Green         | Slate Green   | `#6E786F` |
| Borders              | Dark Slate    | `#2A2F38` | */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #0F1115;
}

a {
    text-decoration: none;
    color: #D4B06A;
    font-weight: bold;
}

img#logo {
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 10px;
}

#main-nav {
    display: flex;
}

nav {
    display: flex;
    margin: auto 0;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-left: 20px;
    font-size: 15px;
}

a:hover {
    color: #816e46;
    transition: color 0.35s ease-in-out;
}

li#home {
    margin-left: 10px;
}

section#intro {
    margin: 10px auto;
    background: #1A1D24;
    border: 1px solid #2A2F38;
    display: flex;
    width: 85%;
    border-radius: 10px;
}

div#profile-pic {
    margin: 15px 0 30px 15px;
    background: gray;
    width: 100px;
    border: 1px solid #2A2F38;
    border-radius: 50%;
}

img#photo {
    height: 200px;
    margin: 15px 0 15px 15px;
    border-radius: 50%;
}

div#info {
    margin-left: 20px;
    margin-top: 20px;
}

div#loc-cont {
    margin-top: 10px;
    margin-bottom: 30px;
}

h1 {
    color: #F5F1EA;
}

p {
    margin: 7px 0;
    color: #B7BDC7;
}

section#main-body {
    margin: 0 auto;
    width: 85%;
}

h2 {
    color: #F5F1EA;
    margin-bottom: 0;
}

p.p-about-me {
    line-height: 23px;
}

span.about-me {
    font-style: italic;
    font-weight: bold;
}

div#exp-edu {
    display: flex;
    /* margin: 15px auto; */
}

div#experience {
    border: 1px solid #2A2F38;
    border-radius: 10px;
    margin: 15px auto;
    padding: 5% 7%;
}

div#education {
    border: 1px solid #2A2F38;
    border-radius: 10px;
    margin: 15px auto;
    padding: 5%;
}

h3.title {
    color: #6E786F;
}

footer {
    background: #1A1D24;
    border-top: 1px solid #2A2F38;
    text-align: center;
}

footer p {
    padding: 0 0 10px 0;
    margin-bottom: 0;
    font-style: italic;
}
